<div class='content-wrapper m-t-1'>
  <h5>Session</h5>
  <p class="color-primary in-bl fl m-t-1">
    <span class='session-expired'>
    <span class="va-sup">Session duration (seconds):</span>
    {{input-confirm class="in-bl va-bottom" placeholder=configController.sessionDuration value=configController.sessionDuration type="number"}}
    </span>
    <button class='btn btn-primary' {{ action "openFileExplorer" }}>
      Show file explorer
    </button>
  </p>
</div>
<!--
preventAction=isPublishing action="toggleFileExplorer"
isPublishing=isPublishing
-->
{{dim-background show=showFileExplorer action="closeFileExplorer"}}
{{#file-explorer isVisible=showFileExplorer items=files}}
{{/file-explorer}}
